<div class="container">
  <h1 class="text-center mt-50">Editar Produto</h1>
  <div class="row">
    <div class="col">
      <div class="edit-session">
        <%= cl_image_tag @product.photo.key, height: 400, width: 300, class:"photo-edit" %>
        <div class="product-edit">
          <p class="text-c-products-highlight"><%= @product.name.capitalize %></p>
          <p class="price-products-highlight">R$<%= @product.price %></p>
          <hr>
          <div class="description-edit">
            <h2>Descrição</h2>
            <%= @product.description %>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <%= simple_form_for @product, html: {class:"input-edit"} do |f| %>
        <%= f.input :photo, as: :file,
                    label: :Foto,
                    required: true %>

        <%= f.input :name,
                    label: :Nome,
                    placeholder: "Digite o nome do produto...",
                    required: true,
                    autofocus: true,
                    input_html: { maxlength: 21 } %>

        <%= f.input :price,
                    label: :Preço,
                    placeholder: "Digite o preço do produto...",
                    required: true %>

        <%= f.input :description,
                    label: :Descrição,
                    placeholder: "Digite a descrição do produto...",
                    required: true,
                    input_html: { maxlength: 300 }  %>
        <div class="align-button-edit">
          <%= f.button :submit, value: "Confirmar", class:"button-confirm" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
