
<div class="container">
  <%= form_with url: products_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
           params[:query],
          class: "form-control",
          placeholder: "Type a keyword"
      %>
    <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
  <% end %>
  <div class="row product-wrapper">


  <% @products.each do |product| %>

    <div class="col-md-3 highlight-session">

      <div data-controller="on-hover">
        <div class="img-container">
          <%= link_to cl_image_tag(product.photo.key, height: 400, width: 300, class:"photo-edit", data: {action: "mouseover->on-hover#revealContent mouseout->on-hover#addContent"}), product_path(product) %>
        </div>
          <%= form_with url: orders_path do %>
            <%= hidden_field_tag 'product_id', product.id %>
            <%= submit_tag 'COMPRAR', class:'button-card d-none', data: {on_hover_target: "infos", action: "mouseover->on-hover#revealContent mouseout->on-hover#addContent"}%>
          <% end %>
        </div>

      <div class="product-price">
        <p class="text-c-products-highlight"><%= product.name.capitalize %></p>
        <p class="price-products-highlight">R$<%= product.price %></p>
      </div>

    </div>

    <% end %>
  </div>
  <div class="paginate">
    <%= raw pagy_bootstrap_nav(@pagy) %>
  </div>
</div>
