<div class="container">
  <div class="row">
    <div class="col spacing-photo">
      <div class="img-show">
        <%= cl_image_tag @product.photo %>
      </div>
    </div>
    <div class="col spacing-top">
      <div class="content-product">
        <div class="show-product-name">
          <%= @product.name.upcase %>
        </div>
        <div class="show-product-price">
          R$ <%= @product.price %>
        </div>
        <div class="buttons-buy-show-align">
          <%= form_with url: orders_path do %>
            <%= hidden_field_tag 'product_id', @product.id %>
            <%= submit_tag 'COMPRAR', class: 'buttons-buy-show' %>
          <% end %>
          <button class="buttons-buy-show">ADICIONAR NO CARRINHO</button>
        </div>
        <hr>
        <div class="show-product-description">
          <h2 class="description-h2">Descrição</h2>
          <%= @product.description %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="buttons-show">
  <%= link_to 'Editar Produto', edit_product_path(@product), class:"button-confirm" %>

  <%= link_to 'Remover Produto', product_path(@product), data: { turbo_method: :delete, turbo_confirm: "Você tem certeza ?"}, class:"button-delete" %>
</div>
