<!DOCTYPE html>
<html>
  <head>
    <title>Maria Do Mato</title>
    <link rel="icon" type="image/png" href="https://cdn.discordapp.com/attachments/636310644630618142/1097639051428900874/png_20220811_022426_0000.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/infos_top" %>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%= render "shared/modal" %>
    <%= render "shared/whatsapp" %>
    <div class="marginb-50px">
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
  </body>

</html>
